/* Définition du fond d'écran du corps de la page */
body {
  background-image: url('../images/Neonback2.gif');
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #111;
  color: #000000;
}

/* Style des paragraphes */
p {
  font-family: 'Tilt Neon', sans-serif;
  color: #00ff00;
  text-shadow: 2px 2px 4px rgba(0, 255, 0, 0.8);
  font-size: 120%;
  text-align: center;
}

/* Style des titres de niveau 1 */
h1 {
  color: #00ff00;
  text-shadow: 2px 2px 4px rgba(0, 255, 0, 0.8);
  background-size: cover;
  -webkit-background-clip: text;
  font-family: 'Tilt Neon', sans-serif;
  text-align: center;
  font-size: 200%;
}

/* Style des éléments pre */
pre {
  font-family: 'Tilt Neon', sans-serif;
  color: #3C3534;
  width: 28%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

/* Style des images */
img {
  width: 60%;
  height: 30%;
}

/* Style de la classe Suggest */
.Suggest {
  color: rgb(1, 1, 1);
  text-align: center;
  font-family: 'Permanent Marker';
  color: #00ff00;
  text-shadow: 2px 2px 4px rgba(0, 255, 0, 0.8);
  font-size: 80%;
}

/* Style de la classe used */
.used {
  color: #00ff00;
  text-shadow: 2px 2px 4px rgba(0, 255, 0, 0.8);
  position: relative;
  text-align: center;
}

/* Style des champs de texte */
input[type="text"] {
  font-family: 'Tilt Neon', sans-serif;
  position: relative;
  background: #333;
  color: #00ff00;
  text-shadow: 2px 2px 4px rgba(0, 255, 0, 0.8);
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 25px;
  width: 200px;
  font-size: 1em;
}

/* Style des boutons dans la classe niveaux */
.niveaux input {
  font-family: 'Tilt Neon', sans-serif;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 5px;
  color: #00ff00;
  text-shadow: 2px 2px 4px rgba(0, 255, 0, 0.8);
  position: relative;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
}

/* Style des boutons au survol */
.niveaux input:hover {
  color: rgb(0, 0, 0);
  background: azure;
  box-shadow: 0 0 10px azure, 0 0 40px azure, 0 0 80px azure;
  transition: 1s;
  transition-delay: 0.1s;
}

/* Style des boutons */
.button {
  font-family: 'Tilt Neon', sans-serif;
  font-size: 25px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #222;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #00ff00;
  text-shadow: 2px 2px 4px rgba(0, 255, 0, 0.8);
}
