<!DOCTYPE html>
<html lang="fr">

<head>

    <style href="C:\Users\nicol\OneDrive\Documents\Web\HangmanWeb\PageWebcss\Hangman.css"></style>

    <meta charset="UTF-8">

    <title>Hangman</title>

    <link rel="stylesheet" href="C:\Users\nicol\OneDrive\Documents\Web\HangmanWeb\PageWebcss\Hangman.css">

</head>
<body>
    
        <div id="container">
    
            <div id="header">
    
                <h1>Hangman</h1>
    
            </div>
    
            <div id="content">
    
                <div id="word"></div>
    
                <div id="keyboard"></div>
    
                <div id="hangman"></div>
    
                <div class="neon">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, atque! Corporis non quas inventore nostrum asperiores beatae ad nulla voluptatum? Nobis tenetur esse quis praesentium id totam ex, neque odio.</p>
                </div>
                <button style="--clr:#39FF14"><span><a class="neon" href="C:\Users\nicol\OneDrive\Documents\Web\HangmanWeb\PageWebhtml\Page_acceuil.html">Retour acceuil</a></span><i></i></button>
                </div>
            </div>
    
            <div id="footer">
    
                <button style="--clr:#39FF14"><span><a class="neon" href="C:\Users\nicol\OneDrive\Documents\Web\HangmanWeb\PageWebhtml\Page_a_propos.html"> A propos </a></span><i></i></button>
    
            </div>
    
        </div>
</body>
</html>