@font-face {
  src: url("../fonts/PermanentMarker-Regular (1).woff2") format("woff2");
  font-family: "Permanent Marker";
}

body {
  background-image:url('../images/Neonback.gif');
  background-size:200%;
  background-repeat:no-repeat;
  background-position:center center;
  background-color: #111;
  color: #fff;

}

p{
  font-family: "Permanent Marker";
    color: rgb(228, 234, 240);
    font-size: 120%;
}

h1 {
  background-color: azure;
  background-size: cover;
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'Permanent Marker';
  text-align: center;
  font-size: 150%;
}

pre{
  font-family: 'Permanent Marker';
  color: #3C3534;
    width  : 28%;
    height : 300px;
    background : rgb(228, 234, 240);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
 }
img{
  width : 60%;
  height :30%;
}
.Suggest{
  color: rgb(228, 234, 240);
  text-align: center;
  font-family: 'Permanent Marker';
  font-size: 80%;
}

.used{
  color: white;
}

input[type="text"]{
  font-family: 'Permanent Marker';
  position: relative;
  background: #333;
  color: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-align: center;
  height: 25px;
  width: 200px;
  font-size: 1em;
}

.niveaux input{
  font-family: 'Permanent Marker';
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 5px;

  position: relative;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
}

.niveaux input:hover{
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3,
              0 0 40px #2196f3,
              0 0 80px #2196f3;
  transition: 1s;
  transition-delay: 0.1s;
}

