<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/index.css" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap" rel="stylesheet">

    <title>Document</title>
</head>

<body>
<div class="entete">
    <p>
        {{.Pseudo}} -> Nombre d'essais restants : {{ .Tries }} /10  </p>
</div>
<div>

    <h1 class="word">{{ .HiddenWord }}</h1>

</div>
    <div class="main">
     <div class="menu">
        <div class="contenu">
            <pre>
            <h2><img src= "{{ .Jose }}" class="img"></h2>
                </pre>

           <h6><div class="used">  {{ .Used }} </div></h6>
            <h2 class="Suggest">{{ .Suggest }}</h2>
        </div>
        <form action="/index" method="POST">
            <input required type="text" class="button" name="lettre" autocomplete="off" autofocus><br>
            <div class = "niveaux">
                <h2><input type="submit" value="SOUMETTRE" class="button"></h2>
            </div>
        </form>
    </div>
</div>
</body>
</html>
