<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Métadonnées du document -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Feuille de style externe -->
    <link rel="stylesheet" href="css/loose.css"/>

    <!-- Préconnexion aux serveurs de Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <!-- Chargement de la police "Tilt Neon" depuis Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap" rel="stylesheet">
    
    <!-- Titre du document -->
    <title>Document</title>
</head>

<body>
    <!-- Première section -->
    <div>
        <!-- Titre de niveau 1 -->
        <h1>Tu as perdu !</h1>
    </div>
    
    <!-- Deuxième section -->
    <div>
        <!-- Paragraphe contenant le texte dynamique de {{ .WordToGuess }} -->
        <p>
            Le mot caché était : {{ .WordToGuess }}
        </p>
        
        <!-- Titre de niveau 2 avec une image provenant de "images/image12.png" et une classe "img" -->
        <h2><img src="images/image12.png" class="img"></h2>
    </div>

    <!-- Formulaire avec action "/" et méthode POST -->
    <form action="/" method="post">
        <!-- Div avec la classe "niveaux" contenant un titre de niveau 2 et un bouton de soumission -->
        <div class="niveaux">
            <h2><input class="replay" type="submit" value="REVANCHE" name="boutonLoose"></h2>
        </div>
    </form>
</body>

</html>
