<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/acceuil.css" />

</head>

<body>
<div class="Login">
<div>
    <form action="accueil" method="post" >
        <h1>Bienvenue au jeu du Pendu !</h1>
        <input id= "pseudo" required type="text" name="nom_utilisateur" placeholder="Entrez votre pseudo" autocomplete="off">
        <div class = "niveaux">
            <input class="replay" type="submit" value="EASY" id="btn1"    name="bouton">
            <input class="replay2" type="submit" value="NORMAL" id="btn2" name="bouton">
            <input class="replay3" type="submit" value="HARD" id="btn3"   name="bouton">
        </div>
    </form>
</div>
</body>
</html>